---
---
@import "minima";

/* Контейнер для воздуха по бокам */
.wrapper {
  max-width: 800px !important; 
  padding-right: 30px !important;
  padding-left: 30px !important;
}

/* Ваши фирменные цвета как в Databricks */
.site-header {
  background-color: #00364d !important; /* Тот самый Navy */
  border-top: 5px solid #ff3621 !important; /* Тот самый Orange */
}

.site-title, .site-nav .page-link {
  color: #ffffff !important;
}

/* Улучшаем читаемость */
body {
  line-height: 1.8;
  font-size: 18px;
}dy {
  line-height: 1.8;
}