---
---
@import "minima";

/* Добавляем тот самый воздух и ваши фирменные цвета */
:root {
  --navy: #00364d;
  --orange: #ff3621;
}

.site-header {
  border-top: 5px solid var(--orange) !important;
  background-color: var(--navy) !important;
}

.site-title, .site-nav .page-link {
  color: white !important;
}

.wrapper {
  max-width: 800px; /* Сужаем контент для стиля блога */
  margin: 0 auto;
  padding: 40px 20px; /* Отступы от краев */
}

body {
  line-height: 1.8; /* Интерлиньяж */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}